@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
#top-section{
    height: 35vh;
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/bucketlist/bucket-list-bg%5B1%5D.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#heading{
    color: white;
}
input{
    height: 45px;
    width: 400px;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 10px;
    border: 2px solid black;
}
#container{
    position: relative;
    margin-top: 20px;

}
#add-btn{
    height: 45px;
    width: 85px;
    border-radius: 25px;
    background-color:#F7BE3B ;
    position: absolute;
    font-size: 20px;
    right: 0;
    border: 2px solid black;
}
#heading2{
    text-align: center;
    margin-top: 50px;
}
#tagline{
    text-align: center;
    margin-top: 25px;
}

#reset-btn{
    display: block;
    margin: auto;
    margin-top: 70px;
    height: 40px;
    border-radius: 20px;
    background-color: #F7BE3B;
    padding: 0 40px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}
footer{
    text-align: center;
    margin-top: 50px;

}
#bucket-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listItem{
    width: 400px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid gray;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    margin: 10px 0;
}